body {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-size: 16px;
  color: #222;
}

a{
  color:rgb(233,87,80);
}

a:visited{ 
  color:rgb(15,97,165);
}

header{
  font-size: 24px;
}

nav{
  font-style: italic;
}

#preamble {
  background-color: #eee;
}

#amendments {
  background-color: #eee;
}

#articles {
  background-color: #eee;
}

.bill-of-rights {
  background-color: #ccc;
}
